<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
    <meta name="author" content="济南弘德明志网络科技有限公司提供技术支持,http://www.honde.net" />
  <title>鲍增谢-山东师范大学美术学院</title><meta name="pageType" content="3">
<meta name="pageTitle" content="鲍增谢">
<META Name="keywords" Content="山东师范大学美术学院,校内导师" />
<META Name="description" Content="鲍增谢BAOZENGXIE男，1980年生于安徽定远。现任中国楹联学会华夏书画联盟副主席兼秘书长、华夏书画联盟书画院院长、吴昌硕美术馆副馆长。2..." />

  
  <meta charset="utf-8">
  <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="">
  <link rel="stylesheet" href="static/css/style2.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/animate.min.css">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/adapt.css">
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script src="static/js/touchslide.js"></script>
  <script src="static/js/wow.min.js"></script>
  <script src="static/js/jquery.mcustomscrollbar.concat.min.js"></script>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css" />
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307b78465453535742000200024153 -->
<link rel="stylesheet" type="text/css" href="static/css/teacher_about.vsb.css" />
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1045,'/teacher_about.jsp',1371,1843656726)</script>
</head>
<body>
<!-- pc头部 -->
<div class="body_jz pc_header">
  <div id="cd_float" class="top">
    <div class="top_logo">
      <div class="logo fl">
        <a href="../../" title="" class="logo_l">
          <img src="static/picture/logo_l.png" alt="" style="width: 217px">
          <img src="static/picture/logo_m.png" alt="" style="margin: 0 7px; width: 2px">
          <img src="static/picture/logo_r.png" alt="" style="width: 261px">
        </a>
      </div>
      <div class="top_r fr"><a href="http://english.art.sdnu.edu.cn/" style="float: left;margin-left: 660px;margin-top: 5px;color: #fff;">EN</a>
       


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><LINK href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu0 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu0 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu0"></div>
<script type="text/html" id="htmlu0">
    <div id="appu0">
        <div v-if="!isError">

         <div class="top_lj fr clearfloat">
        <input class="fl" type="text" placeholder="请输入关键词" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
          <img class="fl" src="static/picture/sou.png" name="submit_button"   v-on:click="onSubmit()" alt="">
 
 
        </div> </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu0").html($("#htmlu0").text());
</script>
<script>
    var appOwner = "1843656726";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu0",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://210.44.14.213:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
        <div class="nav_top clearfloat">
          <ul class="nav" id="nav">
            
            <li class="">
              <a href="../../xygk/xyjj.htm" title="">学院概况</a>
              <ul>

                <li><a href="../../xygk/xyjj.htm" title="">学院简介</a></li>

                <li><a href="../../xygk/xyld.htm" title="">学院领导</a></li>

                <li><a href="../../xygk/jgsz.htm" title="">机构设置</a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="../../szdw/mjfc.htm" title="">师资队伍</a>
              <ul>

                <li><a href="../../szdw/mjfc.htm" title="">名家风采</a></li>

                <li><a href="../../szdw/zzjs.htm" title="">在职教师</a></li>

                <li><a href="../../szdw/dsml.htm" title="">导师名录</a></li>

                <li><a href="../../szdw/txjs.htm" title="">退休教师</a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="../../dtgz/djdt.htm" title="">党团工作</a>
              <ul>

                <li><a href="../../dtgz/djdt.htm" title="">党建动态</a></li>

                <li><a href="../../dtgz/xgdt.htm" title="">学工动态</a></li>

                <li><a href="../../dtgz/gqt.htm" title="">共青团</a></li>

                <li><a href="../../dtgz/llxx.htm" title="">理论学习</a></li>

                <li><a href="../../dtgz/zzjs.htm" title="">组织建设</a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="../../jyjx/bkjy1.htm" title="">教育教学</a>
              <ul>

                <li><a href="../../jyjx/bkjy1.htm" title="">本科教育</a></li>

                <li><a href="../../jyjx/yjsjy1.htm" title="">研究生教育</a></li>

                <li><a href="../../jyjx/jxcg1.htm" title="">教学成果</a></li>

                <li><a href="../../jyjx/jxhd1.htm" title="">教学活动</a></li>

                <li><a href="../../jyjx/yjsgzbg1.htm" title="">研究生工作报告</a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="../../xkjs/zdxk.htm" title="">学科建设</a>
              <ul>

                <li><a href="../../xkjs/zdxk.htm" title="">重点学科</a></li>

                <li><a href="../../xkjs/xwsqd.htm" title="">学位授权点</a></li>

                <li><a href="../../xkjs/ptjd.htm" title="">平台基地</a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="../../kxyj/kyjg.htm" title="">科学研究</a>
              <ul>

                <li><a href="../../kxyj/kyjg.htm" title="">科研机构</a></li>

                <li><a href="../../kxyj/kyxm.htm" title="">科研项目</a></li>

                <li><a href="../../kxyj/kycg.htm" title="">科研成果</a></li>

                <li><a href="../../kxyj/xshd.htm" title="">学术活动</a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="../../zpzx/jszp.htm" title="">作品在线</a>
              <ul>

                <li><a href="../../zpzx/jszp.htm" title="">教师作品</a></li>

                <li><a href="../../zpzx/xszp.htm" title="">学生作品</a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="../../crmyyxb.htm" title="">成人美育研修班</a>
            </li>
            
</ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- mobil头部 -->
<div class="m_header">
  <header class="mc_ph_hd clearfloat">
    <!-- 手机导航条 -->
    <nav class="mc_ph_navbar clearfloat">
      <!-- g_phlogo -->
      <div class="mc_ph_logo fl">
        <a href="../../">
          <img class="m_logo1" src="static/picture/logo_l.png" alt="">
          <img class="m_logo2" src="static/picture/logo_m.png" alt="">
          <img class="m_logo3" src="static/picture/logo_r.png" alt="">
        </a><a href="http://english.art.sdnu.edu.cn/" style="margin-left: 40px;margin-top: 20px;color: #fff;">EN</a>
      </div>
      <div class="mc_ph_nav_r fr clearfloat">
        <div class="nav_right fl clearfloat">
          <div class="hd_search fl">
            <a href=""> <i class="iconfont icon-search-fill"></i> </a>
          </div>
        </div>
        <!-- 菜单 -->
        <div class="mc_ph_menu fl">
          <div class="mc_phmenubox clearfloat" id="mc_phmenubox">
            <div class="point" id="mbtn">
              <span class="nav_btn"></span>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- ph下拉 -->

    <div class="phxia hidden-lg">
      <div class="xialaph">
              
 <ul class="ul1">




          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../xygk/xyjj.htm" target="_self">学院概况</a>
                <img class="img_s" src="static/picture/xiap11.png">
                <img class="img_d" src="static/picture/xiap1.png">
              </h4>
              <ul class="ul2">
                <div class="container_s">

                  <li><h5><a class="g_phnav2" href="../../xygk/xyjj.htm" target="_self">学院简介</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../xygk/xyld.htm" target="_self">学院领导</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../xygk/jgsz.htm" target="_self">机构设置</a></h5></li>
                  
                </div>
              </ul>
            </div>
          </li>

          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../szdw/mjfc.htm" target="_self">师资队伍</a>
                <img class="img_s" src="static/picture/xiap11.png">
                <img class="img_d" src="static/picture/xiap1.png">
              </h4>
              <ul class="ul2">
                <div class="container_s">

                  <li><h5><a class="g_phnav2" href="../../szdw/mjfc.htm" target="_self">名家风采</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../szdw/zzjs.htm" target="_self">在职教师</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../szdw/dsml.htm" target="_self">导师名录</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../szdw/txjs.htm" target="_self">退休教师</a></h5></li>
                  
                </div>
              </ul>
            </div>
          </li>

          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../dtgz/djdt.htm" target="_self">党团工作</a>
                <img class="img_s" src="static/picture/xiap11.png">
                <img class="img_d" src="static/picture/xiap1.png">
              </h4>
              <ul class="ul2">
                <div class="container_s">

                  <li><h5><a class="g_phnav2" href="../../dtgz/djdt.htm" target="_self">党建动态</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../dtgz/xgdt.htm" target="_self">学工动态</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../dtgz/gqt.htm" target="_self">共青团</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../dtgz/llxx.htm" target="_self">理论学习</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../dtgz/zzjs.htm" target="_self">组织建设</a></h5></li>
                  
                </div>
              </ul>
            </div>
          </li>

          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../jyjx/bkjy1.htm" target="_self">教育教学</a>
                <img class="img_s" src="static/picture/xiap11.png">
                <img class="img_d" src="static/picture/xiap1.png">
              </h4>
              <ul class="ul2">
                <div class="container_s">

                  <li><h5><a class="g_phnav2" href="../../jyjx/bkjy1.htm" target="_self">本科教育</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../jyjx/yjsjy1.htm" target="_self">研究生教育</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../jyjx/jxcg1.htm" target="_self">教学成果</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../jyjx/jxhd1.htm" target="_self">教学活动</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../jyjx/yjsgzbg1.htm" target="_self">研究生工作报告</a></h5></li>
                  
                </div>
              </ul>
            </div>
          </li>

          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../xkjs/zdxk.htm" target="_self">学科建设</a>
                <img class="img_s" src="static/picture/xiap11.png">
                <img class="img_d" src="static/picture/xiap1.png">
              </h4>
              <ul class="ul2">
                <div class="container_s">

                  <li><h5><a class="g_phnav2" href="../../xkjs/zdxk.htm" target="_self">重点学科</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../xkjs/xwsqd.htm" target="_self">学位授权点</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../xkjs/ptjd.htm" target="_self">平台基地</a></h5></li>
                  
                </div>
              </ul>
            </div>
          </li>

          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../kxyj/kyjg.htm" target="_self">科学研究</a>
                <img class="img_s" src="static/picture/xiap11.png">
                <img class="img_d" src="static/picture/xiap1.png">
              </h4>
              <ul class="ul2">
                <div class="container_s">

                  <li><h5><a class="g_phnav2" href="../../kxyj/kyjg.htm" target="_self">科研机构</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../kxyj/kyxm.htm" target="_self">科研项目</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../kxyj/kycg.htm" target="_self">科研成果</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../kxyj/xshd.htm" target="_self">学术活动</a></h5></li>
                  
                </div>
              </ul>
            </div>
          </li>

          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../zpzx/jszp.htm" target="_self">作品在线</a>
                <img class="img_s" src="static/picture/xiap11.png">
                <img class="img_d" src="static/picture/xiap1.png">
              </h4>
              <ul class="ul2">
                <div class="container_s">

                  <li><h5><a class="g_phnav2" href="../../zpzx/jszp.htm" target="_self">教师作品</a></h5></li>

                  <li><h5><a class="g_phnav2" href="../../zpzx/xszp.htm" target="_self">学生作品</a></h5></li>
                  
                </div>
              </ul>
            </div>
          </li>

          <li>
            <div class="container_s">
              <h4>
                <a class="g_phnav1" href="../../crmyyxb.htm" target="_self">成人美育研修班</a>
              </h4>
            </div>
          </li>
        </ul>
     
        <!-- 搜索 -->
         <div class="ph_search">
         


<style>
    #appu3 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu3 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu3"></div>
<script type="text/html" id="htmlu3">
    <div id="appu3">
        <div v-if="!isError">
        
         <div class="ph_search_ph">
   <input type=""  name="submit_button" placeholder="请输入关键词" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <div class="ph_searchfe" >
             <input type="image" src="../../images/search1.png" align="" v-on:click="onSubmit()">

            </div>
          

          </div>
          
          
           
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu3").html($("#htmlu3").text());
</script>
<script>
    var appOwner = "1843656726";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu3",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultmobile/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://210.44.14.213:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
        </div>
      </div>
    </div>
  </header>
</div>
<!--banner开始-->
<div class="top_bg">
  <img src="static/picture/bg02.png" alt="" style="width: 100%;">
</div>
<!--banner结束-->
<!--center开始-->
<div class="center">
  <div class="g_content">
    <div class="clearfloat">
      <div class="t_cenle fl">
        <div class="t_contit">
          <div class="t_connr">学院概况</div>
        </div>
         <ul><a href="../../szdw/mjfc.htm" class="">
            <li>名家风采</li>
          </a>
          
<a href="../../szdw/zzjs.htm" class="">
            <li>在职教师</li>
          </a>
          
<a href="../../szdw/dsml.htm" class="on">
            <li>导师名录</li>
          </a>
          
<a href="../../szdw/txjs.htm" class="">
            <li>退休教师</li>
          </a>
          
</ul>
      </div>
      <div class="t_cenrg fl clearfloat">
        <div class="t_mian fr">
          <div class="t_sh">
            <div class="t_lixu fl">
                <a href="../../">
                <img src="static/picture/ar1.png" style="width: 6px; vertical-align: middle; margin-right: 4px">
                <span class="t_wen">首页    ></span>
              </a>
            </div>
            <div class="t_lixu fl">
              <a>
                <img src="static/picture/ar1.png" style="width: 6px; vertical-align: middle; margin-right: 4px">
                <span class="t_wen">
师资队伍</span>
              </a>
            </div>
            <div class="t_lixu fl on">
              <a>
                <img src="static/picture/ar2.png" style="width: 10px; vertical-align: middle; margin-right: 4px">
                <span class="t_wen">
校内导师</span>
              </a>
            </div>
          </div>
        </div>
        <div class="t_tcon fr">
          <div class="t_nei">
            <div class="t_tita">
校内导师</div>
            <div class="t_line"></div>
          </div>
          <div class="jj_d">

<script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/newsvotedwr.js"></script><script language="javascript" src="static/js/engine.js"></script><script language="javascript" src="static/js/newscontent.js"></script><LINK href="static/css/photoswipe.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/pw.js"></script><script language="javascript" src="static/js/ajax.js"></script><br>
<br>
<div class="he2_cntzribtmb b4_con ">
    <div class="v_news_content">

<div id="vsb_content"><div class="v_news_content">
<div class="img_box">
 <p style="text-align: center;"><img width="261" title="undefined" alt="undefined" src="static/picture/2c7823ebcabfeb17ea7e85f07d7_d36902ea_99685.png" border="0" vspace="0" hspace="0" vwidth="261" vsbhref="vurl" vurl="/_vsl/3DDB72C7823EBCABFEB17EA7E85F07D7/D36902EA/99685" vheight="" orisrc="/__local/3/DD/B7/2C7823EBCABFEB17EA7E85F07D7_D36902EA_99685.png" class="img_vsb_content"></p>
</div>
<div class="tc_xx">
 <div class="name">
  <h1 style="margin: 0px; padding: 0px; color: rgb(1, 67, 141); line-height: 32px; font-family: inherit; font-size: 24px; font-weight: normal; box-sizing: border-box;">鲍增谢</h1>
  <h2 style="margin: 0px; padding: 0px; color: rgb(153, 153, 153); line-height: 30px; font-family: Arial, 微软雅黑; font-size: 16px; font-weight: normal; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);">BAOZENGXIE</h2>
 </div>
 <div class="zw">
  <span style="margin: 0px; padding: 0px; color: rgb(102, 102, 102); line-height: 32px; font-size: 16px; display: inline-block; box-sizing: border-box;">
 <div class="xx">
  <p><span style="margin: 0px; padding: 0px; line-height: 1; display: block; box-sizing: border-box;"></span></p>
  <p style="font-family: Arial, 微软雅黑; display: block; margin: 0px; padding: 0px; color: rgb(22, 80, 141); font-size: 16px; box-sizing: border-box; line-height: 3em;">基本资料：</p>
  <span style="font-family: Arial, 微软雅黑; display: block; margin: 0px; padding: 0px; color: rgb(22, 80, 141); line-height: 30px; font-size: 16px; box-sizing: border-box;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; color: rgb(102, 102, 102); line-height: 32px; font-size: 16px; display: inline-block; font-family: arial, helvetica, sans-serif;">鲍增谢，男，1980年生于安徽定远。现任中国楹联学会华夏书画联盟副主席兼秘书长、华夏书画联盟书画院院长、吴昌硕美术馆副馆长。
他长期从事书画艺术推广、交流与鉴赏工作。任职期间，多次组织书画家参与国内外大型艺术展览、公益拍卖及学术交流活动，并积极投身“一带一路”相关文化交流项目，推动中国书画走向国际。依托联盟平台，他常态化开展书画作品交流，结合线上直播与线下展览等形式，有效促进了书画家与收藏市场的精准对接。曾赴河北、山东、安徽等地开展书画培训及青少年美育活动，助力传统文化传承。
作为书画院院长，他注重整合艺术家与市场资源，先后策划多场主题性书画联展及线上直播专场，在书画拍卖运作与艺术价值评估方面积累了丰富经验。他致力于搭建创作与交易之间的诚信桥梁，推动书画艺术健康、可持续发展。等</span></p>
 <p style="margin-left:28px"><span style="margin: 0px; padding: 0px; box-sizing: border-box; color: rgb(102, 102, 102); line-height: 32px; font-size: 16px; display: inline-block; font-family: arial, helvetica, sans-serif;"></span></p>
 <p style="text-align: left; line-height: 3em;"><span style="color: rgb(22, 80, 141); font-family: Arial, 微软雅黑; font-size: 16px;"></span></p>
 <p style="margin-left:28px"><span style="margin: 0px; padding: 0px; box-sizing: border-box; color: rgb(102, 102, 102); line-height: 32px; font-size: 16px; display: inline-block; font-family: arial, helvetica, sans-serif;"><br></span><br></p>
 <p style="text-align:left;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; color: rgb(102, 102, 102); line-height: 32px; font-size: 16px; display: inline-block; font-family: arial, helvetica, sans-serif;"></span><br></p>
</div>
</div> &nbsp;</div>

            <a href="javascript:history.go(-1);" style="margin: 0px; padding: 0px; transition:0.3s ease-out; color: rgb(51, 122, 183); line-height: 1; text-decoration: none; cursor: pointer; box-sizing: border-box; background-color: transparent;"><div class="fh" style="background: rgb(191, 177, 129); margin: 30px 0px 0px; padding: 0px; border: 1px solid rgb(191, 177, 129); transition:0.3s ease-out; border-image: none; width: 124px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; box-sizing: border-box;">
                返回列表
            </div></a>
        </div>
    </div>




</div>
        </div>
      </div>
    </div>
  </div>
<!--  <img class="center_bl" src="static/picture/bg_l.png">-->
<!--  <img class="center_br" src="static/picture/bg_r.png">-->
</div>

<!--center开始-->
<div class="footer" style="margin-top: 0">
  <div class="footer_c">
    <div>
      <img class="f_logo" src="static/picture/logo2.png">
      <div class="f_text">
        <img src="static/picture/postcode.png" style="width: 25px; margin: 0 16px 0 0">
        <span>邮编：250014</span>
      </div>
      <div class="f_text">
        <img src="static/picture/phone.png" style="width: 18px; margin: 0 20px 0 3px">
        <span>电话：0531-86182188</span>
      </div>
      <div class="f_text">
        <img src="static/picture/address.png" style="width: 27px; margin: 0 15px 0 0">
        <span>地址：济南市历下区文化东路88号</span>
      </div>
    </div>
    <div class="fc_r">
      <div><a href="../../xygk/xyjj.htm">
          <span>学院概况</span>
        </a>
        
<a href="../../szdw/mjfc.htm">
          <span>师资队伍</span>
        </a>
        
<a href="../../dtgz/djdt.htm">
          <span>党团工作</span>
        </a>
        
<a href="../../jyjx/bkjy1.htm">
          <span>教育教学</span>
        </a>
        
<a href="../../xkjs/zdxk.htm">
          <span>学科建设</span>
        </a>
        
<a href="../../kxyj/kyjg.htm">
          <span>科学研究</span>
        </a>
        
<a href="../../zpzx/jszp.htm">
          <span>作品在线</span>
        </a>
        
<a href="../../crmyyxb.htm">
          <span>成人美育研修班</span>
        </a>
        
</div>
      <div style="margin-top: 20px">
        <img src="static/picture/qrcode1.png" style="width: 149px">
        <img src="static/picture/qrcode2.png" style="width: 149px; margin-left: 40px">
        <div class="g_ftfriend">
          <div class="g_ftfriend_top clearfloat">
            <div class="g_ftfriend_topfl fl">
              友情链接
            </div>
            <div class="g_ftfriend_topfr fr">
              <img src="static/picture/arrow_link.png" alt="">
            </div>
          </div>
<script language="javascript" src="static/js/openlink.js"></script>          <div class="g_ftfriend_bot">
            <ul>
            

              <li><a href="http://www.sdnu.edu.cn" target="_blank">山东师范大学</a></li>



            </ul>
          </div>




        </div>
      </div>
    </div>
  </div>
  <div class="f_b">版权所有©山东师范大学 鲁ICP备05002375</div>
</div>
</body>
<script src="static/js/common.js"></script>
</html>
